<footer>
    <div class="container">

        <!-- first layer -->
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
            <div fxLayoutAlign="center">
                <div>
                    <h5>Quick links</h5>
                    <ul>
                        <li><a>Home</a></li>
                        <li><a>About</a></li>
                        <li><a>FAQ</a></li>
                        <li><a>Get Started</a></li>
                        <li><a>Videos</a></li>
                    </ul>
                </div>
            </div>

            <div fxLayoutAlign="center">
                <div>
                    <h5>Quick links</h5>
                    <ul>
                        <li><a>Home</a></li>
                        <li><a>About</a></li>
                        <li><a>FAQ</a></li>
                        <li><a>Get Started</a></li>
                        <li><a>Videos</a></li>
                    </ul>
                </div>
            </div>

            <div fxLayoutAlign="center">
                <div>
                    <h5>Quick links</h5>
                    <ul>
                        <li><a>Home</a></li>
                        <li><a>About</a></li>
                        <li><a>FAQ</a></li>
                        <li><a>Get Started</a></li>
                        <li><a>Videos</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- second layer -->


    </div>
</footer>