$primaryColor:#009688;
$darkPrimaryColor:#00796b;
$lightPrimaryColor:#b2dfdb;
$textIconColor:#FFFFFF;
$accentColor:#512da8;
$lightColorAccent:#673ab7;
$primaryTextColor:#212121;
$secondaryTextColor:#757575;
$dividerColor:#BDBDBD;

